AWSTemplateFormatVersion: 2010-09-09

Parameters:

  DesiredCapacity:
    Type: Number
    Default: 0

  MaxCapacity:
    Type: Number
    Default: 5

  MinCapacity:
    Type: Number
    Default: 0

  LaunchTemplate:
    Type: String

  LaunchTemplateVersion:
    Type: String

Resources:

  AutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchTemplate:
        LaunchTemplateId: !Ref LaunchTemplate
        Version: !Ref LaunchTemplateVersion
      VPCZoneIdentifier:
      - {{ sceptre_user_data.vpc_subnet0 }}
      - {{ sceptre_user_data.vpc_subnet1 }}
      - {{ sceptre_user_data.vpc_subnet2 }}
      MaxSize: !Ref MaxCapacity
      MinSize: !Ref MinCapacity
      DesiredCapacity: !Ref DesiredCapacity

Outputs:

  AutoScalingGroup:
    Value: !Ref AutoScalingGroup
    Export:
      Name: !Sub "${AWS::StackName}-AutoScalingGroup"